@page "/"
@page "/{categoryuri}"
@inject ICategoryService CategoryService
@inject IProductService ProductService 

@if (category != null)
{
    <h1>Welcome to the @category.Name Section</h1>
    <ProductList  />
}
else 
{
    <h1>Welcome to BlazingShop</h1>
    <ProductList />    
}

 


@code{

    [Parameter]
    public string CategoryUri { get; set; }

    private Category category = null;

    protected override async Task OnParametersSetAsync()
    {
        await ProductService.LoadProducts(CategoryUri);

        if (CategoryUri != null)
        {
            category = CategoryService.Categories.FirstOrDefault(x => x.Url.ToLower().Equals(CategoryUri.ToLower()));
        }
        else 
        {
            category = null;
        }
    }
}
